<div class="p-3 w-50">
  <div class="mb-3">
    <label for="blogTitle" class="form-label">Blog Title:</label>
    <input type="text" class="form-control bg-secondary " id="blogTitle">
  </div>
  <div class="mb-3">
    <label for="blogText" class="form-label">Speak! For everyone must hear your words.</label>
    <input type="text" class="form-control bg-secondary " id="blogText">
  </div>
    <button type="submit" class="btn btn-primary" id="newBlog">Submit</button>
</div>